.article__mainHeader {
    text-align: center;
    background-color: #e7db2c;
    max-width: 1000px;
    padding: 10px;
    text-shadow: 1px 2px 5px rgb(85, 83, 83);
    font-size: 35px;
}

.article__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(128, 128, 128);
}

.article__header {
    text-shadow: -3px -2px 5px rgb(236, 233, 35);
}