.body {
    margin: auto;
    position: relative;
    max-width: 1000px;
    padding: 20px solid #3a3741;
    background-color: #3a3838;
}

.dark {
    margin: auto;
    position: relative;
    max-width: 1000px;
    padding: 20px solid #383738;
    background-color: #424242;
}

.body__line {
    width: 80%;
    height: 4px;
}