.body {
    margin: auto;
    position: relative;
    max-width: 1000px;
    padding: 20px solid #9d98aa;
    background-color: #e6e6e6;
}

.dark {
    margin: auto;
    position: relative;
    max-width: 1000px;
    padding: 20px solid #383738;
    background-color: #646464;
}

.body__line {
    width: 80%;
    height: 4px;
}